<!doctype html>
<title>PoseSync</title>
<h1 style="text-align: center;">PoseSync</h1>
<br>
{% if error %}

<h3>{{ error }}</h3>

{% endif %}

{% if filename %}

<div style="margin: 10px auto;">
    <p> Crop Method =
        {{ crop_method }}
    </p>
    <video autoplay="autoplay" controls="controls" preload="preload">-->
        <source src="{{ url_for('display_video', filename=filename) }}" type="video/mp4"></source>
    </video>
</div>

{% endif %}

<h3>Select videos for matching</h3>

<form method="post" action="/" enctype="multipart/form-data">
    <dl>
        <p> Reference Video :
            <input id="ref_video" type="file" name="ref_file" autocomplete="off" required>
        </p>
    </dl>
    <dl>
        <p> Test Video :
            <input id="test_video" type="file" name="test_file" autocomplete="off" required>
        </p>
    </dl>
    <label> Select Video Cropping Method : </label>
    <select name="crop_method">
        <option value="YOLO"> YOLO
        </option>
        <option value="Tracker"> CV2.Tracker
        </option>
    </select>
    <p>
        <input type="submit" value="Proceed">
    </p>
</form>
